{
    "name": "customers-s3-sink",
    "config": {
        "connector.class": "io.confluent.connect.s3.S3SinkConnector",
        "format.class": "io.confluent.connect.s3.format.json.JsonFormat",
        "keys.format.class": "io.confluent.connect.s3.format.json.JsonFormat",
        "key.converter": "org.apache.kafka.connect.json.JsonConverter", 
        "value.converter": "org.apache.kafka.connect.json.JsonConverter", 
        "key.converter.schemas.enable": false, 
        "value.converter.schemas.enable": false,
        "flush.size": 1,
        "schema.compatibility": "FULL",
        "s3.bucket.name": "<YOUR_BUCKET_NAME>",
        "s3.region": "us-east-1",
        "s3.object.tagging": true,
        "s3.ssea.name": "AES256",
        "topics.dir": "raw-data/kafka",
        "storage.class": "io.confluent.connect.s3.storage.S3Storage",
        "tasks.max": 1,
        "topics": "json-customers"
    }
}
